<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!--<link rel="stylesheet" href="css/icon-font.css">-->

    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="shortcut icon" type="image/png" href="/static/img/logo.png" />

    <title>Agriculture||About_page</title>
  </head>

  <body>
    <div class="navigation">
      <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />

      <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
      </label>

      <div class="navigation__background">&nbsp;</div>

      <nav class="navigation__nav">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="{{url_for('home')}}" class="navigation__link">Home Page</a>
          </li>
        </ul>
      </nav>
    </div>

    <header class="About_header">
      <div class="header__logo-box">
        <a href="{{url_for('home')}}"><img src="/static/img/Greenery.png" alt="Logo" class="header__logo" /></a>
      </div>
    </header>

    <main>
      <section class="section-about">
        <div class="u-center-text u-margin-bottom-big" data-aos="fade-right">
          <h2 class="heading-secondary">
            Explore These plants
          </h2>
        </div>

        <div class="row">
          <!-- <div class="col-1-of-2"> -->
            <h3
              class="heading-tertiary u-margin-bottom-small plant_name"
              data-aos="fade-below"
              data-aos-easing="ease-in"
            >
             <b> Cassava </b> <hr>
            </h3>
            <p
              class="paragraph"
              data-aos="fade-above"
              data-aos-easing="ease-in"
            >
            Cassava (Manihot esculenta) is a tropical root crop native to South America and is an important source of carbohydrates in many parts of the world, particularly in Africa, Asia, and South America. It is also known by other names such as yuca, manioc, and tapioca in different regions. Here are some key characteristics and uses of cassava plants: <br>

            <b>Root Crop:</b> Cassava is primarily grown for its starchy tuberous roots, which are similar in shape to sweet potatoes but can vary in size. These roots serve as a major source of carbohydrates in the diets of millions of people. <br>

            <b>Starchy Staple:</b> Cassava roots are highly starchy and can be consumed in various forms, including boiled, steamed, fried, or mashed. They are a staple food in many tropical and subtropical countries, providing a significant portion of daily caloric intake. <br>

            <b>Versatile Ingredient:</b> Cassava can be used to make a wide range of food products, including cassava flour, cassava chips, and tapioca pearls. Cassava flour, for example, is used in baking, while tapioca pearls are used in desserts like tapioca pudding and bubble tea. <br>

            <b>Drought-Tolerant:</b> Cassava is known for its tolerance to drought conditions, making it a valuable crop in regions with irregular rainfall or limited water resources. <br>

            <b>Cyanogenic Compounds:</b> Cassava contains naturally occurring cyanogenic glycosides, which can release toxic cyanide when consumed in large quantities or improperly processed. To make cassava safe for consumption, it must be properly prepared through methods like peeling, soaking, fermenting, or cooking to reduce cyanide content. <br>

            <b>Leaves are Edible:</b> Although the primary focus is on the roots, cassava leaves are also edible and nutritious. They are used in various culinary dishes, especially in some African cuisines. <br>

            <b>Industrial Uses:</b> In addition to its use as a food crop, cassava is used in industrial applications, such as the production of starch, ethanol, and animal feed. <br>

            Cassava is a vital crop for food security and income generation in many developing countries. However, it comes with challenges related to its susceptibility to pests and diseases, as well as the need for proper processing to remove cyanide. Efforts are ongoing to develop disease-resistant cassava varieties and improve post-harvest processing techniques to make cassava cultivation more sustainable and safe. <br>
            </p> 
          </div>

            <div class="row">
            <h3
              class="heading-tertiary u-margin-bottom-small plant_name"
              data-aos="fade-below"
              data-aos-easing="ease-in"
            >
            <b>Cashew </b><hr>
            </h3>
            <p
              class="paragraph"
              data-aos="fade-above"
              data-aos-easing="ease-in"
            >
            Cashew plants, scientifically known as Anacardium occidentale, are tropical evergreen trees that produce cashew nuts. These trees are native to northeastern Brazil but are now grown in many tropical regions around the world, particularly in countries like India, Vietnam, Nigeria, and Indonesia. <br>
            plants have distinctive features:<br>
            <b>Cashew Nut:</b> The cashew nut is the seed of the cashew tree. It is often referred to as a "nut," but it is technically a seed. The nut is encased in a hard shell attached to a cashew apple.<br>
            <b>Cashew Apple:</b> The cashew apple is a pear-shaped fruit that grows on the cashew tree. It is often red or yellow when ripe and is edible. The cashew apple is juicy and has a sweet, astringent taste. It is used in some culinary applications and can be made into juices, jams, and preserves.<br>
            <b>Leaves:</b> Cashew trees have simple, leathery leaves that are elliptical or obovate in shape.<br>
            <b>Flowers:</b> Cashew trees produce small, fragrant, and pale greenish-yellow flowers. These flowers are typically dioecious, meaning individual trees are either male or female, and both are needed for pollination and nut production.<br>
            <b>Growth Habit:</b> Cashew trees have a low, spreading canopy with a relatively short trunk.<br>
            Cashew nuts are highly prized for their rich, creamy flavor and are used in various culinary applications, including snacking, baking, and cooking. The cashew industry also produces cashew kernels, which are commonly used in the snack and confectionery industries, as well as cashew nut oil and cashew shell liquid, which have industrial uses.<br>
            Cashew plants are economically important in many tropical countries, both for their nuts and cashew apples, which contribute to the livelihoods of many people in these regions. However, it's important to note that cashew nuts can be toxic if not properly processed, as the shell contains a caustic resin. Therefore, careful processing is necessary to ensure the removal of the toxic substances before consumption.<br>
            <br>
          </div>
          <!-- <div class="vl"></div> -->
          <div class="row">
            <!-- <div class="col-1-of-2"> -->
              <h3
                class="heading-tertiary u-margin-bottom-small plant_name"
                data-aos="fade-below"
                data-aos-easing="ease-in"
              >
              <b>Tomato</b> <hr>
              </h3>
              <p
                class="paragraph"
                data-aos="fade-above"
                data-aos-easing="ease-in"
              >
              A tomato plant (Solanum lycopersicum) is a type of flowering plant belonging to the Solanaceae family, which also includes potatoes, peppers, and eggplants. Tomato plants are widely cultivated for their edible fruits, which are commonly referred to as tomatoes. Here are some key characteristics and information about tomato plants: <br>

              <b>Edible Fruits:</b> The tomato plant produces round or oval-shaped fruits, which can vary in size, shape, and color. Tomatoes come in various colors, including red, yellow, orange, green, and even purple, depending on the variety. <br>

              <b>Warm-Season Crop:</b> Tomatoes are warm-season crops and are typically grown in the spring and summer months in temperate regions. They require warm temperatures for proper growth and fruit development. <br>

              <b>Indeterminate and Determinate Varieties:</b> There are two main types of tomato plant varieties: indeterminate and determinate. Indeterminate varieties continue to grow and produce fruit throughout the growing season, while determinate varieties have a more compact growth habit and produce fruit over a shorter period. <br>

              <b>Cultivation:</b> Tomato plants are commonly grown in home gardens, commercial farms, and greenhouses. They require well-drained soil, plenty of sunlight, and adequate watering. In colder climates, they are often started indoors from seeds and then transplanted outdoors after the last frost. <br>

              <b>Culinary Uses:</b> Tomatoes are a versatile ingredient in cooking and are used in a wide variety of dishes, including salads, sandwiches, sauces, soups, and stews. They can be eaten fresh or processed into products like tomato paste, canned tomatoes, and ketchup. <br>

              <b>Nutritional Value:</b> Tomatoes are a good source of essential nutrients such as vitamins A and C, potassium, and folate. They are also known for their high content of the antioxidant lycopene, which is believed to have health benefits. <br>

              <b>Health Benefits:</b> Consuming tomatoes and tomato products has been associated with several potential health benefits, including reduced risk of certain chronic diseases like heart disease and certain types of cancer. Lycopene, in particular, is known for its antioxidant properties. <br>

              <b>Varieties:</b> There are thousands of tomato varieties, each with its own unique flavor, texture, and culinary uses. Some common types include Roma, Cherry, Beefsteak, and Heirloom varieties. <br>

              <b>Pests and Diseases:</b> Tomato plants are susceptible to various pests and diseases, including aphids, hornworms, and blights. Proper care, pest management, and disease prevention strategies are important for successful cultivation. <br>

              Tomato plants are a popular and widely cultivated crop worldwide due to their culinary versatility, nutritional value, and delicious taste. They have a prominent role in many cuisines and are a staple ingredient in countless recipes. <br>
              </p>
            </div>
              <div class="row">
              <h3
                class="heading-tertiary u-margin-bottom-small plant_name"
                data-aos="fade-below"
                data-aos-easing="ease-in"
              >
              <b>Maize </b><hr>
              </h3>
              <p
                class="paragraph"
                data-aos="fade-above"
                data-aos-easing="ease-in"
              >
              Maize, known as corn in North America, is a cereal grain plant with the scientific name Zea mays. It is one of the most widely cultivated and important cereal crops in the world. Here are some key characteristics and information about maize plants: <br>

              <b>Cereal Crop:</b> Maize is a cereal crop, belonging to the grass family Poaceae. It is grown primarily for its edible seeds, which are commonly referred to as corn kernels. <br>

              <b>Staple Food:</b> Maize is a staple food in many countries and regions, particularly in North and South America, Sub-Saharan Africa, and parts of Asia. It serves as a major source of carbohydrates in the human diet. <br>

              <b>Varieties:</b> There are various types and varieties of maize, including sweet corn (consumed as a vegetable), field corn (used for animal feed and industrial purposes), popcorn (used for making popcorn snacks), and flint corn (known for its hard, glassy kernels). <br>

              <b>Plant Characteristics:</b> Maize plants are tall, grassy plants with a single main stem. They typically have large, broad leaves and produce tassel-like structures at the top of the plant, which contain male flowers. The female flowers, called ears, are produced lower on the plant and bear the corn kernels. <br>

              <b>Cross-Pollination:</b> Most maize varieties are wind-pollinated, which means that the pollen from the male flowers (tassels) is carried by the wind to the female flowers (ears) for fertilization. This characteristic can lead to hybridization and the development of new maize varieties. <br>

              <b>Uses:</b> Maize has a wide range of uses, including human consumption, livestock feed, and industrial applications. Common products made from maize include cornmeal, cornflour, cornstarch, corn syrup, and corn oil. <br>
              
              <b>Nutritional Value:</b> Maize is a good source of carbohydrates, fiber, and various vitamins and minerals. It is low in fat and contains protein, though it is not a complete protein source. The nutritional content can vary depending on the type and variety of maize. <br>

              <b>Industrial Uses:</b> Maize is used in various industrial applications, such as the production of ethanol for biofuel, corn-based plastics, and cornstarch for the manufacturing of paper and textiles. <br>

              <b>Global Production:</b> Maize is one of the most widely cultivated cereal crops in the world. It is grown in diverse climates and regions, from temperate to tropical areas. The United States, China, Brazil, and Argentina are among the largest producers of maize. <br>

              <b>Challenges:</b> Maize cultivation faces challenges related to pests, diseases, and environmental factors such as drought and extreme temperatures. Breeding programs work to develop maize varieties with improved resistance to these challenges. <br>

              Maize is a versatile and economically important crop with a wide range of culinary and industrial uses. It plays a crucial role in global food security and serves as a primary source of sustenance for millions of people worldwide. <br>
              </p>
            </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__logo-box">
        <picture class="footer__logo">
          <source
            media="(max-width: 37.5em)"
          />
          <img
            data-aos="fade-in"
            data-aos-easing="1500ms"
            srcset="/static/img/Greenery.png"
            alt="Full logo"
            src="/static/img/Greenery.png"
            class="img-size"
          />
        </picture>
      </div>
      <div class="row">
        <div class="col-1-of-2">
          <div class="footer__navigation">
            <ul class="footer__list">
              <li
                class="footer__item"
                data-aos="fade-up"
                data-aos-easing="ease-in"
                data-aos-delay="100"
              >
                <a href="#" class="footer__link">Contact us</a>
              </li>
              <li
                class="footer__item"
                data-aos="fade-up"
                data-aos-easing="ease-in"
                data-aos-delay="400"
              >
                <a href="#" class="footer__link">Terms</a>
              </li>
            </ul>
          </div>
        </div>
        <div
          class="col-1-of-2"
          data-aos="fade-right"
          data-aos-easing="ease-in"
          data-aos-delay="100"
        >
          <p class="footer__copyright">
            Built by <a href="#" class="footer__link">Prottoy Das</a> for his 
            <a href="#" class="footer__link">Project</a>.
            Copyright &copy; by Prottoy Das. You are 100% allowed to use this
            webpage for both personal and commercial use, but NOT to claim it as
            your own design. A credit to the original author, Prottoy Das, is of
            course highly appreciated!
          </p>
        </div>
      </div>
    </footer>

    </div>

    
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 120,
        duration: 1000,
      });
    </script>
    <script src="/static/scroll.js"></script>
  </body>
</html>
