<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/static/img/logo.png" />

    <title>Agriculture | The main industry in this rural location</title>
  </head>

  <body>
    <div class="navigation">
      <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />

      <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
      </label>

      <div class="navigation__background">&nbsp;</div>

      <nav class="navigation__nav">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="{{url_for('home')}}" class="navigation__link">Home page</a>
          </li>
          <li class="navigation__item">
            <a href="/about" class="navigation__link">About Plants</a>
          </li>
        </ul>
      </nav>
    </div>

    <header class="header_cashew_anthracnose">
      <div class="header__logo-box">
        <a href="{{url_for('home')}}"><img src="/static/img/Greenery.png" alt="Logo" class="header__logo" /></a>
      </div>
    </header>

    <main class="showcase">
      <section class="section-about-page">
        <div class="u-center-text u-margin-bottom-big">
          <h2 class="heading-secondary">
            Cassava Bacterial blight Disease
          </h2>
        </div>


        <div class="row">
          <div class="image-container">
            <img         
                alt="Photo 1"
                data-aos="fade-above"
                data-aos-easing="ease-in"
                src="{{ user_image }}"
              />
          </div>
          <div>
            <h3
              class="heading-tertiary u-margin-bottom-small">
              Cassava Bacterial blight
            </h3>
            <p
              class="paragraph"
            >
            Bacterial blight disease in cassava plant is a plant disease caused by bacteria, esp
            The bacteria Xanthomonas axonopodis pv. Manihotis This disease is also commonly known as "cassava".
            Bacterial blight.” Cassava (Manihot esculenta) is an important staple crop in many tropical and subtropical regions.
            region, and bacterial blight can have significant economic and agricultural impacts.<br>
            Here are some key features and effects of cassava bacterial blight disease: <br>
            <b>Symptoms: </b>Cassava bacterial blight usually manifests as angular, water-soaked lesions on leaves.
            These lesions often have a yellow halo around them. Over time, the lesions may enlarge and coalesce,
            This results in wilting, necrosis and rotting of the affected leaves. The disease can also affect the stem
            and creates black streaks. <br>
            <b>Spread: </b>The bacteria responsible for cassava bacterial blight can spread through contaminated media
            Planting material, tools, and wind driven rain. It can also be spread by insect vectors. <br>
            <b>Effects: </b>Severe infestations of cassava bacterial blight can result in reduced plant growth, weakening of tubers
            development, and reduced yields. In extreme cases, it can cause complete crop loss. <br>
            <b>Management: </b>Management of cassava bacterial blight includes using disease-free planting material,
            Practice crop rotation, and implement good agricultural practices. Copper-based fungicides or
            Bactericides may be applied to control disease, but their effectiveness may be limited. <br>

            Here are some copper-based insecticides that can be used to manage cassava bacterial blight:
            <br>
             
            <b>Copper Hydroxide, Copper Sulfate, Copper Oxychloride.</b> <br>
            <b>Resistant Varieties: </b>Plant breeders have developed cassava varieties with varying degrees of resistance
            Use of cultivars resistant to bacterial blight is an important component of disease management. <br>
            Sanitation: Maintaining good field sanitation, such as removing and destroying infected plant material,
            May help reduce the spread of disease. <br>
            Cassava bacterial blight is a significant concern for cassava growers because its potential can be reduced
            The yield and its economic impact on communities dependent on cassava as a staple food
            source. Effective disease management strategies including resistant varieties and cultural use
            practice, is essential to mitigate its effects and ensure a stable cassava supply.
            <br>
            </p>
          </div>         
        </div> 
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__logo-box">
        <picture class="footer__logo">
          <source
            media="(max-width: 37.5em)"
          />
          <img
            data-aos="fade-in"
            data-aos-easing="1500ms"
            srcset="/static/img/Greenery.png"
            alt="Full logo"
            src="/static/img/Greenery.png"
            class="img-size"
          />
        </picture>
      </div>
      <div class="row">
        <div class="col-1-of-2">
          <div class="footer__navigation">
            <ul class="footer__list">
              <li
                class="footer__item"
                data-aos="fade-up"
                data-aos-easing="ease-in"
                data-aos-delay="100"
              >
                <a href="#" class="footer__link">Contact us</a>
              </li>
              <li
                class="footer__item"
                data-aos="fade-up"
                data-aos-easing="ease-in"
                data-aos-delay="400"
              >
                <a href="#" class="footer__link">Terms</a>
              </li>
            </ul>
          </div>
        </div>
        <div
          class="col-1-of-2"
          data-aos="fade-right"
          data-aos-easing="ease-in"
          data-aos-delay="100"
        >
          <p class="footer__copyright">
            Built by <a href="#" class="footer__link">Prottoy Das</a> for his 
            <a href="#" class="footer__link">Project</a>.
            Copyright &copy; by Prottoy Das. You are 100% allowed to use this
            webpage for both personal and commercial use, but NOT to claim it as
            your own design. A credit to the original author, Prottoy Das, is of
            course highly appreciated!
          </p>
        </div>
      </div>
    </footer>

    </div>

    
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 120,
        duration: 1000,
      });
    </script>
    <script src="{{ url_for('static', filename='scroll.js') }}"></script>
  </body>
</html>
