<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!--<link rel="stylesheet" href="css/icon-font.css">-->

    <!-- <link rel="stylesheet" href="css/style.css" /> -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/static/img/logo.png" />

    <title>Agriculture | The main industry in this rural location</title>
  </head>

  <body>
    <div class="navigation">
      <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />

      <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
      </label>

      <div class="navigation__background">&nbsp;</div>

      <nav class="navigation__nav">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="/about" class="navigation__link">About Plants</a>
          </li>
        </ul>
      </nav>
    </div>

    <header class="header">
      <div class="header__logo-box">
        <img src="/static/img/Greenery.png" alt="Logo" class="header__logo" />
      </div>

      <div class="header__text-box">
        <h1 class="heading-primary">
          <span class="heading-primary--main">Agriculture</span>
          <span class="heading-primary--sub">is the noble employment of man</span>
        </h1>
        <a href="../index_predict.html" class="btn btn--white btn--animated">Predict Disease</a>
      </div>
    </header>

    <main>
      <section class="section-about">
        <div class="u-center-text u-margin-bottom-big" data-aos="fade-right">
          <h2 class="heading-secondary">
            Explore These plants
          </h2>
        </div>

        <div class="row">
          <div class="col-1-of-2">
            <h3
              class="heading-tertiary u-margin-bottom-small"
              data-aos="fade-below"
              data-aos-easing="ease-in"
            >
              Cassava 
            </h3>
            <p
              class="paragraph"
              data-aos="fade-above"
              data-aos-easing="ease-in"
            >
            Cassava (Manihot esculenta) is a tropical root vegetable and a staple crop in many parts of the world, especially in Africa, Asia, and Latin America. It is also known by various other names, including yuca (not to be confused with yucca, a different plant), manioc, and tapioca. Cassava is a major source of carbohydrates and provides essential nutrients for millions of people in regions with suitable climates.
            </p>

            <h3
              class="heading-tertiary u-margin-bottom-small"
              data-aos="fade-below"
              data-aos-easing="ease-in"
            >
              Cashew
            </h3>
            <p
              class="paragraph"
              data-aos="fade-above"
              data-aos-easing="ease-in"
            >
            Cashew plants are tropical evergreen trees that belong to the genus Anacardium and are primarily grown for their cashew nuts and cashew apples.Cashew plants are native to northeastern Brazil but are now grown in many tropical regions of Asia.The most well-known part of the cashew plant is the cashew nut. The cashew nut is actually the seed of the cashew apple, which is a fleshy, pear-shaped fruit. The nut is found attached to the bottom of the cashew apple.
            </p>

            <a href="About_plants.html" class="btn-text">Learn more &rarr;</a>
          </div>
          <div class="col-1-of-3">
            <div class="composition">
              <img
                data-aos="fade-up"
                data-aos-easing="ease-in"
                srcset="/static/img/maize-plants.jpg 300w, img/maize-plants.jpg 1000w"
                sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                alt="Photo 1"
                class="composition__photo composition__photo--p1"
                src="/static/img/maize-plants.jpg"
              />

              <img
                data-aos="fade-left"
                data-aos-delay="80"
                data-aos-easing="ease-in"
                srcset="/static/img/tomato-plants.jpg 300w, img/tomato-plants.jpg 1000w"
                sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                alt="Photo 2"
                class="composition__photo composition__photo--p2"
                src="/static/img/tomato-plants.jpg"
              />

              <img
                data-aos="fade-up"
                data-aos-delay="110"
                data-aos-easing="ease-in"
                srcset="/static/img/cashew-plants.jpg 300w, img/cashew-plants.jpg 1000w"
                sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                alt="Photo 3"
                class="composition__photo composition__photo--p3"
                src="/static/img/cashew-plants.jpg"
              />

              <img
                data-aos="fade-left"
                data-aos-delay="150"
                data-aos-easing="ease-in"
                srcset="/static/img/cassava-plants.jpg 300w, img/cassava-plants.jpg 1000w"
                sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                alt="Photo 4"
                class="composition__photo composition__photo--p4"
                src="/static/img/cassava-plants.jpg"
              />
            </div>
          </div>
        </div>
      </section>

      <section class="section-features">
        <div class="row">
          <div class="col-1-of-4" data-aos="fade-up" data-aos-easing="ease-in">
            <div class="feature-box">
              <i class="feature-box__icon icon-basic-world"></i>
              <h3 class="heading-tertiary u-margin-bottom-small">
                Cashew||plant
              </h3>
              <p class="feature-box__text">
                Cashew plants are tropical evergreen trees are primarily grown for their cashew nuts and cashew apples.
              </p>
            </div>
          </div>

          <div
            class="col-1-of-4"
            data-aos="fade-up"
            data-aos-delay="100"
            data-aos-easing="ease-in"
          >
            <div class="feature-box">
              <i class="feature-box__icon icon-basic-compass"></i>
              <h3 class="heading-tertiary u-margin-bottom-small">
                Cassava||plant
              </h3>
              <p class="feature-box__text">
                Cassava (Manihot esculenta) is a tropical root vegetable and a staple crop in many parts of the world,
              </p>
            </div>
          </div>

          <div
            class="col-1-of-4"
            data-aos="fade-up"
            data-aos-delay="200"
            data-aos-easing="ease-in"
          >
            <div class="feature-box">
              <i class="feature-box__icon icon-basic-map"></i>
              <h3 class="heading-tertiary u-margin-bottom-small">
                Tomato||plant
              </h3>
              <p class="feature-box__text">
                Tomato plants are a species of flowering plant in the nightshade family (Solanaceae) are an important crop in both commercial agriculture and home gardening
              </p>
            </div>
          </div>

          <div
            class="col-1-of-4"
            data-aos="fade-up"
            data-aos-delay="300"
            data-aos-easing="ease-in"
          >
            <div class="feature-box">
              <i class="feature-box__icon icon-basic-heart"></i>
              <h3 class="heading-tertiary u-margin-bottom-small">
                Maize||plant
              </h3>
              <p class="feature-box__text">
                Maize plants are a type of cereal grain crop cultivated for their edible seeds & grown cereal crops in the world.
              </p>
            </div>
          </div>
        </div>
      </section>

        <div class="u-center-text u-margin-bottom-big" data-aos="fade-right">
          <h2 class="heading-secondary">We make people genuinely happy</h2>
        </div>

        <div class="row" data-aos="fade-left" data-aos-easing="ease-in">
          <div class="story">
            <figure class="story__shape">
              <img
                src="/static/img/personal/IMG_4774.jpg"
                alt="MD. Safiullah"
                class="story__img"
              />
              <!-- <figcaption class="story__caption"></figcaption> -->
            </figure>
            <div class="story__text">
              <h3 class="heading-tertiary u-margin-bottom-small">
                Safiullah
              </h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aperiam, ipsum sapiente aspernatur libero repellat quis
                consequatur ducimus quam nisi exercitationem omnis earum qui.
                Aperiam, ipsum sapiente aspernatur libero repellat quis
                consequatur ducimus quam nisi exercitationem omnis earum qui.
              </p>
            </div>
          </div>
        </div>

        <div class="row" data-aos="fade-right" data-aos-easing="ease-in">
          <div class="story">
            <figure class="story__shape">
              <img
                src="/static/img/personal/prottoy.jpg"
                alt="Prottoy"
                class="story__img"
              />
              <figcaption class="story__caption">Prottoy</figcaption>
            </figure>
            <div class="story__text">
              <h3 class="heading-tertiary u-margin-bottom-small">
                Prottoy Das
              </h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aperiam, ipsum sapiente aspernatur libero repellat quis
                consequatur ducimus quam nisi exercitationem omnis earum qui.
                Aperiam, ipsum sapiente aspernatur libero repellat quis
                consequatur ducimus quam nisi exercitationem omnis earum qui.
              </p>
            </div>
          </div>
        </div>
      </section>
      
    </main>
    <footer class="footer">
      <div class="footer__logo-box">
        <picture class="footer__logo">
          <source
            media="(max-width: 37.5em)"
          />
          <img
            data-aos="fade-in"
            data-aos-easing="1500ms"
            srcset="/static/img/Greenery.png"
            alt="Full logo"
            src="/static/img/Greenery.png"
            class="img-size"
          />
        </picture>
      </div>
      <div class="row">
        <div class="col-1-of-2">
          <div class="footer__navigation">
            <ul class="footer__list">
              <li
                class="footer__item"
                data-aos="fade-up"
                data-aos-easing="ease-in"
                data-aos-delay="100"
              >
                <a href="#" class="footer__link">Contact us</a>
              </li>
              <li
                class="footer__item"
                data-aos="fade-up"
                data-aos-easing="ease-in"
                data-aos-delay="400"
              >
                <a href="#" class="footer__link">Terms</a>
              </li>
            </ul>
          </div>
        </div>
        <div
          class="col-1-of-2"
          data-aos="fade-right"
          data-aos-easing="ease-in"
          data-aos-delay="100"
        >
          <p class="footer__copyright">
            Built by <a href="#" class="footer__link">Prottoy Das</a> for his 
            <a href="#" class="footer__link">Project</a>.
            Copyright &copy; by Prottoy Das. You are 100% allowed to use this
            webpage for both personal and commercial use, but NOT to claim it as
            your own design. A credit to the original author, Prottoy Das, is of
            course highly appreciated!
          </p>
        </div>
      </div>
    </footer>

    </div>

    
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 120,
        duration: 1000,
      });
    </script>
    <!-- <script src="scroll.js"></script> -->
    <script src="{{ url_for('static', filename='scroll.js') }}"></script>

  </body>
</html>
