<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/static/img/logo.png" />

    <title>Agriculture | The main industry in this rural location</title>
  </head>

  <body>
    <div class="navigation">
      <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />

      <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
      </label>

      <div class="navigation__background">&nbsp;</div>

      <nav class="navigation__nav">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="{{url_for('home')}}" class="navigation__link">Home page</a>
          </li>
          <li class="navigation__item">
            <a href="/about" class="navigation__link">About Plants</a>
          </li>
        </ul>
      </nav>
    </div>

    <header class="header_cashew_anthracnose">
      <div class="header__logo-box">
        <a href="{{url_for('home')}}"><img src="/static/img/Greenery.png" alt="Logo" class="header__logo" /></a>
      </div>
    </header>

    <main class="showcase">
      <section class="section-about-page">
        <div class="u-center-text u-margin-bottom-big">
          <h2 class="heading-secondary">
            Maize Leaf beetles Disease
          </h2>
        </div>


        <div class="row">
          <div class="image-container">
            <img         
                alt="Photo 1"
                data-aos="fade-above"
                data-aos-easing="ease-in"
                src="{{ user_image }}"
              />
          </div>
          <div>
            <h3
              class="heading-tertiary u-margin-bottom-small">
              Maize Leaf beetles
            </h3>
            <p
              class="paragraph"
            >
            Leaf beetles, also known as chrysomelid beetles, are a group of diverse insects
            Family Chrysomelidae. Some species of leaf beetles can be pests of corn (maize) plants. This is the insect
            Corn is herbivorous and feeds on various parts of plants, including leaves, stems and sometimes stems
            reproductive structure.<br>
            Here are some key features and effects of leafhoppers on corn plants: <br>
            <b>Feeding Behavior: </b>Leaf beetles are generally herbivorous, meaning they feed on plant leaves. they have
            Specialized mouthparts that allow them to chew and swallow plant material. There are some leaf beetle species
            Known to feed on corn leaves. <br>           
            <b>Symptoms of damage: </b>This damage may include irregular holes or grooves in the leaves, which form them.
            In severe infestations that appear sporadically, the cumulative effect of leafhopper feeding may be attenuated,
            Reduced photosynthesis, and potentially lower corn yields. <br>
            <b>Life cycle: </b>The leaf beetle undergoes a complete metamorphosis, consisting of egg, larva, pupa, and adult
            Stages The eggs are usually on or near the host plant and the larvae that hatch from these eggs are
            The voracious larvae undergo several molts before pupating and eventually emerging as adults.
            <br>
            <b>Management: </b>Aphid management in corn fields may involve a combination of cultural practices,
            Biological control, and, in some cases, chemical control methods. Integrated Pest Management (IPM)
            Approaches are often used to reduce dependence on leafhoppers
            Chemical pesticides. <br>
            <b>Cultural Practices: </b>Practices such as crop rotation, field sanitation and weed management can help reduce this
            Leaf beetle population. <br>
            <b>Biological control: </b>Natural predators and parasitoids can help control leaf beetle populations.
            Promoting the presence of these beneficial insects can contribute to pest control. <br>
            Here are a few insecticides that can be considered for leafhopper control in corn: <br>
             
            <b>Pyrethroids, Neonicotinoids, Carbamates, Organophosphates.</b> <br>
            Leaf beetles can vary in species and behavior, so can specific types of leaf beetles and the extent of damage
            May vary depending on geographic location and environmental conditions. Regular scouting and
            Monitoring corn fields can help detect leafhopper infestations early, allowing for timely intervention.
            and management systems. <br>
            <b>Management: </b>Managing gummosis in cashew trees typically involves pruning and removing infected 
            branches and stems to prevent the spread of the disease. Proper sanitation practices, including the prompt 
            removal and disposal of infected plant material, can help reduce the disease's impact. In some cases, 
            fungicides or bactericides may be used as a preventive measure or to treat affected areas. <br>
            <b>Prevention: </b>Preventive measures include avoiding unnecessary damage to cashew trees, ensuring proper 
            irrigation and soil management to minimize environmental stress, and maintaining good overall plant 
            health. Choosing disease-resistant cashew varieties can also be helpful in preventing gummosis. <br>
            It's essential for cashew growers to monitor their trees regularly for signs of gummosis and take 
            appropriate measures to manage and prevent its spread. Proper care and attention can help mitigate the 
            impact of this disease on cashew plantations and maintain healthy cashew trees for better yields.
            <br>
            </p>
          </div>         
        </div> 
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__logo-box">
        <picture class="footer__logo">
          <source
            media="(max-width: 37.5em)"
          />
          <img
            data-aos="fade-in"
            data-aos-easing="1500ms"
            srcset="/static/img/Greenery.png"
            alt="Full logo"
            src="/static/img/Greenery.png"
            class="img-size"
          />
        </picture>
      </div>
      <div class="row">
        <div class="col-1-of-2">
          <div class="footer__navigation">
            <ul class="footer__list">
              <li
                class="footer__item"
                data-aos="fade-up"
                data-aos-easing="ease-in"
                data-aos-delay="100"
              >
                <a href="#" class="footer__link">Contact us</a>
              </li>
              <li
                class="footer__item"
                data-aos="fade-up"
                data-aos-easing="ease-in"
                data-aos-delay="400"
              >
                <a href="#" class="footer__link">Terms</a>
              </li>
            </ul>
          </div>
        </div>
        <div
          class="col-1-of-2"
          data-aos="fade-right"
          data-aos-easing="ease-in"
          data-aos-delay="100"
        >
          <p class="footer__copyright">
            Built by <a href="#" class="footer__link">Prottoy Das</a> for his 
            <a href="#" class="footer__link">Project</a>.
            Copyright &copy; by Prottoy Das. You are 100% allowed to use this
            webpage for both personal and commercial use, but NOT to claim it as
            your own design. A credit to the original author, Prottoy Das, is of
            course highly appreciated!
          </p>
        </div>
      </div>
    </footer>

    </div>

    
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 120,
        duration: 1000,
      });
    </script>
    <script src="{{ url_for('static', filename='scroll.js') }}"></script>
  </body>
</html>
