<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/static/img/logo.png" />
    <title>Agriculture | The main industry in this rural location</title>
  </head>

  <body>
    <div class="navigation">
      <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />

      <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
      </label>

      <div class="navigation__background">&nbsp;</div>

      <nav class="navigation__nav">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="{{url_for('home')}}" class="navigation__link">Home page</a>
          </li>
          <li class="navigation__item">
            <a href="/about" class="navigation__link">About Plants</a>
          </li>
        </ul>
      </nav>
    </div>

    <header class="header_cashew_anthracnose">
      <div class="header__logo-box">
        <a href="{{url_for('home')}}"><img src="/static/img/Greenery.png" alt="Logo" class="header__logo" /></a>
      </div>
    </header>

    <main class="showcase">
      <section class="section-about-page">
        <div class="u-center-text u-margin-bottom-big">
          <h2 class="heading-secondary">
            Maize streak Disease
          </h2>
        </div>


        <div class="row">
          <div class="image-container">
            <img         
                alt="Photo 1"
                data-aos="fade-above"
                data-aos-easing="ease-in"
                src="{{ user_image }}"
              />
          </div>
          <div>
            <h3
              class="heading-tertiary u-margin-bottom-small">
              Maize streak
            </h3>
            <p
              class="paragraph"
            >
            Maize streak virus (MSV) is a plant virus that affects maize (maize) plants. It belongs
            Mustrevirus is a genus within the Geminiviridae family. It is transmitted by leafhopper insects, primarily
            African corn leafhopper (Cicadulina mbilla) and brown leafhopper (Orosius orientalis).<br>
            Here are some key characteristics and effects of corn streak virus:<br>
            <b>Symptoms: </b>Corn streak virus causes a variety of symptoms in infected corn plants, including: <br>
            <b>Streaking: </b>The most characteristic symptom is the appearance of yellow streaks or bands
            Length of leaves, stems and sometimes veins of maize plants.<br>
            <b>Leaf curling: </b>Leaves may curl or twist and the overall appearance of the plant may be distorted. <br>
            <b>Vector transmission: </b>Maize streak virus is primarily transmitted by leafhoppers, which acquire the virus
            from infected plants and then transmit it to healthy corn plants when they feed. <br>
            <b>Management: </b>Managing corn streak virus involves several strategies: <br>
            <b>Resistant Varieties: </b>Planting maize varieties resistant or tolerant to maize streak virus.
            The most effective strategy for disease management. <br>
            <b>Vector Control: </b>Managing foliage plant populations through the use of insecticides or other controls
            Procedures can help reduce disease transmission. <br>
            <b>Disease: </b>Remove and destroy infected corn plants quickly to prevent virus spread. <br>
            <b>Sanitation: </b>Maintain good field sanitation by removing and destroying crop debris and weeds
            Viruses or leafhopper vectors. <br>
            <b>Crop rotation: </b>Practice crop rotation to break disease cycles and reduce virus accumulation
            the soil <br>
             
            Maize streak virus is a significant concern because it can cause food insecurity and economic losses
            Farmers in affected areas. Efforts to develop and promote improved varieties of maize continue
            Educating farmers on disease management best practices to prevent viruses and ensure food security
            Security and Agricultural Sustainability.
            <br>
            </p>
          </div>         
        </div> 
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__logo-box">
        <picture class="footer__logo">
          <source
            media="(max-width: 37.5em)"
          />
          <img
            data-aos="fade-in"
            data-aos-easing="1500ms"
            srcset="/static/img/Greenery.png"
            alt="Full logo"
            src="/static/img/Greenery.png"
            class="img-size"
          />
        </picture>
      </div>
      <div class="row">
        <div class="col-1-of-2">
          <div class="footer__navigation">
            <ul class="footer__list">
              <li
                class="footer__item"
                data-aos="fade-up"
                data-aos-easing="ease-in"
                data-aos-delay="100"
              >
                <a href="#" class="footer__link">Contact us</a>
              </li>
              <li
                class="footer__item"
                data-aos="fade-up"
                data-aos-easing="ease-in"
                data-aos-delay="400"
              >
                <a href="#" class="footer__link">Terms</a>
              </li>
            </ul>
          </div>
        </div>
        <div
          class="col-1-of-2"
          data-aos="fade-right"
          data-aos-easing="ease-in"
          data-aos-delay="100"
        >
          <p class="footer__copyright">
            Built by <a href="#" class="footer__link">Prottoy Das</a> for his 
            <a href="#" class="footer__link">Project</a>.
            Copyright &copy; by Prottoy Das. You are 100% allowed to use this
            webpage for both personal and commercial use, but NOT to claim it as
            your own design. A credit to the original author, Prottoy Das, is of
            course highly appreciated!
          </p>
        </div>
      </div>
    </footer>

    </div>

    
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 120,
        duration: 1000,
      });
    </script>
    <script src="{{ url_for('static', filename='scroll.js') }}"></script>
  </body>
</html>
